@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  background: #07f;
  color: #444;
  font-family: "Poppins", sans-serif;
  margin: 0%;
  padding: 0%;
}

.card_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  .card {
    margin: auto;
    vertical-align: center;
    width: 500px;
    height: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 12px 64px rgba($color: #000000, $alpha: 0.24);
  }
}

.bg_wave_before {
  position: absolute;
  bottom: 5%;
  right: -5%;
  g {
    path {
      fill: #499eff;
    }
  }
}
.bg_wave {
  position: absolute;
  bottom: 0%;
  right: 0%;
  g {
    path {
      fill: #fff;
    }
  }
}
